@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Получите круглосуточную поддерждку</p>
                    <h1>Свяжитесь с нами</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- contact form -->
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>У вас появился к нам вопрос?</h2>
                    <p>Заполните форму предаставленную ниже, и мы постараемся как можно скорее вам ответить.</p>
                </div>
                <div id="form_status"></div>
                <div class="contact-form">
                    <form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this );">
                        <p>
                            <input type="text" placeholder="ФИО" name="name" id="name">
                            <input type="email" placeholder="Эл. почта" name="email" id="email">
                        </p>
                        <p>
                            <input type="tel" placeholder="Ном. телефона" name="phone" id="phone">
                            <input type="text" placeholder="Тема" name="subject" id="subject">
                        </p>
                        <p><textarea name="message" id="message" cols="30" rows="10" placeholder="Сообщение"></textarea></p>
                        <input type="hidden" name="token" value="FsWga4&#f6aw" />
                        <p><input type="submit" value="Отправить"></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-form-wrap">
                    <div class="contact-form-box">
                        <h4><i class="fas fa-map"></i> Адресс магазина</h4>
                        <p>1, Alecu Russo, <br> Chisinau, <br> Moldova</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="far fa-clock"></i> Часы работы</h4>
                        <p>ПОН - ПЯТНИЦА: 9:00-21:00 <br> СУБ - ВОС: 9:00-21:00 </p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="fas fa-address-book"></i> Контакты</h4>
                        <p>Ном. телефона:  +373 62 130 913<br> Эл. почта: support@TravelerShop.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact form -->
<!-- find our location -->
<div class="find-location blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> <i class="fas fa-map-marker-alt"></i> Найдите нас</p>
            </div>
        </div>
    </div>
</div>
<!-- end find our location -->
<!-- google map section -->
<div class="embed-responsive embed-responsive-21by9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.767561479921!2d28.86241890000001!3d47.0447917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97cf8567b111f%3A0xa3c745075c657dbd!2zU3RyYWRhIEFsZWN1IFJ1c3NvIDEsIE1ELTIwMzIsIENoaciZaW7Eg3UsINCc0L7Qu9C00L7QstCw!5e0!3m2!1sru!2s!4v1710754448903!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- end google map section -->