@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Traveler Shop</p>
                        <h1>
                            Достал Нож — Режь
                        </h1>
                        <div class="hero-btns">
                            <a href="shop.html" class="boxed-btn">Каталог</a>
                            <a href="contact.html" class="bordered-btn">Наши контакт</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Быстрая доставка</h3>
                        <p>При заказе на сумму выше $75</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>Поддержка 24/7</h3>
                        <p>Круглосуточная поддержка</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Возврат</h3>
                        <p>Получи возврат в течении 3 дней!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->
<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Наши</span> Лидеры продаж</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="/wwwroot/img/Knives/img1.jpg" alt=""></a>
                    </div>
                    <h3>Нож балисонг 1024 BQ</h3>
                    <p class="product-price"><span>1 шт.</span> 8.99$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="/wwwroot/img/Knives/img2.jpg" alt=""></a>
                    </div>
                    <h3>Нож нескладной WK06045</h3>
                    <p class="product-price"><span>1 шт.</span> 37.99$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="/wwwroot/img/Knives/img3.jpg" alt=""></a>
                    </div>
                    <h3>Нож нескладной 2786 UB</h3>
                    <p class="product-price"><span>1 шт</span> 43.99$ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Добавить в корзину</a>
                </div>
            </div>
        </div>
        
        </div>
    </div>
</div>
<!-- end product section -->
<!-- cart banner section -->
<section class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6">
                <div class="image">
                   @* <div class="price-box">
                        <div class="inner-price">
                            <span class="price">
                                <strong>30%</strong> <br> от 100$
                            </span>
                        </div>
                    </div>*@
                    <img src="/wwwroot/img/a1.png" alt="">
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column col-lg-6">
                <h3><span class="orange-text">Акция</span> месяца</h3>
                <h4></h4>
                <div class="text">Скидка 30% и подарочная упаковка при любой покупке свыше 100$ в честь дня защитника отечества!</div>
                <!--Countdown Timer-->
                <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2024/3"><div class="counter-column"><div class="inner"><span class="count">11</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">08</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">30</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">01</span>Secs</div></div></div></div>
                 
            </div>
        </div>
    </div>
</section>
<!-- end cart banner section -->
<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="/wwwroot/img/avaters/avatar1.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Saira Hakim <span>Покупатель</span></h3>
                            <p class="testimonial-body">
                                " Эти ножи - просто шедевры! Острие режет как по маслу, рукоять удобно лежит в руке. Никогда не пожалеете о покупке! "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="/wwwroot/img/avaters/avatar2.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>David Niph <span>Покупатель</span></h3>
                            <p class="testimonial-body">
                                " Я долго искал идеальный нож для своей кухни, и вот я нашел его здесь! Качество материалов на высшем уровне, дизайн - эстетическое удовольствие. "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="/wwwroot/img/avaters/avatar3.png" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Jacob Sikim <span>Покупатель</span></h3>
                            <p class="testimonial-body">
                                " Никогда не думал, что нож может быть таким многофункциональным! Один инструмент, а столько возможностей - резать, нарезать, убивать, и еще раз нарезать! "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->
<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">
                    <a href="https://www.youtube.com/watch?v=hiJCgHzi_p4" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">Since Year 2016</p>
                    <h2>Мы <span class="orange-text">Traveler Shop</span></h2>
                    <p>Эдвард, опытный путешественник, основал магазин "Traveler Shop" с идеей помочь другим приготовиться к своим приключениям. Он собирал широкий ассортимент ножей, отбирая только лучшие из них от надежных производителей. "Traveler Shop" стал популярным местом для местных жителей и путешественников, привлеченных не только качественными ножами, но и рассказами Эдварда о его приключениях.</p>
                    <a href="about.html" class="boxed-btn mt-4">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->
<!-- shop banner -->
@*<section class="shop-banner">
    <div class="container">
        <h3>Февральская распродажа началась! <br> с большой <span class="orange-text">Скидкой...</span></h3>
        <div class="sale-percent"><span>Распродажа! <br> Вплоть до</span>50% <span>скидки</span></div>
        <a href="shop.html" class="cart-btn btn-lg">Shop Now</a>
    </div>
</section>*@
<!-- end shop banner -->
<!-- latest news -->
@*<div class="latest-news pt-150 pb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Vivamus lacus enim, pulvinar vel nulla sed, scelerisque rhoncus nisi. Praesent vitae mattis nunc, egestas viverra eros.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="news.html" class="boxed-btn">More News</a>
            </div>
        </div>
    </div>
</div>*@
<!-- end latest news -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="/wwwroot/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/wwwroot/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/wwwroot/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/wwwroot/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="/wwwroot/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->