
@{
    ViewBag.Title = "_Footer";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="footer-box about-widget">
                <h2 class="widget-title">О нас</h2>
                <p>"Traveler Shop" - это магазин, основанный опытным путешественником, который страстно верит в важность хорошего ножа во время приключений. Мы предлагаем широкий выбор качественных ножей, отобранных с любовью и заботой, чтобы каждый клиент мог найти идеальный инструмент для своих потребностей.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-box get-in-touch">
                <h2 class="widget-title">Свяжитесь с нами</h2>
                <ul>
                    <li>1, str. Alecu Russo, Chisinau, Moldova.</li>
                    <li>support@TravelerShop.com</li>
                    <li>+373 62 130 913</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-box pages">
                <h2 class="widget-title">Разделы</h2>
                <ul>
                    <li><a href="index.html">Домашняя страница</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="services.html">Каталог</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-box subscribe">
                <h2 class="widget-title">Подпишитесь</h2>
                <p>Подпишитесь на нашу рассылку, чтобы получать последние обновления.</p>
                <form action="index.html">
                    <input type="email" placeholder="Почта">
                    <button type="submit"><i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>